# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

# databases
*.sqlite3

# local config files
/config/local*.yaml
# but don't ignore the local test file
!/config/local-test.yaml

# logs
logs/*

# coverage
coverage
