[Unit]
Description=hapi-boilerplate
Documentation=https://example.org
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=NODE_PATH=/home/node/hapi-boilerplate
Environment=NVMEXEC=/home/node/.nvm/nvm-exec
LimitNOFILE=4096
IgnoreSIGPIPE=false
WorkingDirectory=/home/node/hapi-boilerplate
ExecStart=/home/node/hapi-boilerplate/startup.sh
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
